/* 消息提示框容器样式 */
._msg {
  left: 50%;
  color: #909399;
  font-size: 14px;
  width: 300px;
  padding: 16px 17px;
  position: fixed;
  line-height: 1;
  letter-spacing: 1px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 6px;
  border: 1px solid #edf2fc;
  background-color: #edf2fc;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform 0.5s, top 0.5s;
}
._msg p {
  margin: 0;
  font-size: 14px;
  padding-right: 16px;
}

._msg svg {
  top: 50%;
  right: 15px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

._msg-opacity {
  opacity: 0;
  transform: translate(-50%, -100%);
}
/* 成功提示框样式 */
._msg-success {
  background-color: #e1f3d8;
  border-color: #e1f3d8;
  color: #67c23a;
}
/* 警告提示框样式 */
._msg-warn {
  background-color: #fdfce6;
  border-color: #fdfce6;
  color: #e6a23c;
}
/* 错误提示框样式 */
._msg-error {
  background-color: #fef0f0;
  border-color: #fef0f0;
  color: #f56c6c;
}
